* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #181818;
  color: white;
  margin: 0;
  padding-bottom: 2vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: #00e1ff;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}

header .logo {
  width: auto;
  height: 5vw;
  cursor: pointer;
  border-radius: 1vw;
}

.nav__links {
  list-style: none;
  padding: 0vw;
}

.nav__links li {
  display: inline-block;
  padding: 0vw 1vw;
  margin-left: 0vw;
}

.nav__links li a {
  color: #ffffff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 3vw;
}

.nav__links li a:hover {
  color: #181818;
}

li a button {
  color: #ffffff;
}

header button {
  padding: 1vw 2vw;
  margin-right: 2vw;
  background-color: #000000;
  border: none;
  border-radius: 3vw;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

header button:hover {
  background-color: #ffffff;
  color: #181818;
}

.cta {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  width: auto;
}

.parallax {
  background-image: url("https://raw.githubusercontent.com/LightslicerGP/LightslicerGP/master/Pictures/Rubick's%20Cube%20Background.png");
  height: 40vw;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  border-radius: 0vw 0vw 10vw 10vw;
  border: 0px solid #181818;
  padding-top: 8vw;
}

.parallax p {
  display: flex;
  justify-content: center;
  font-size: 10vw;
  color: black;
  background: cyan;
  margin: 14vw;
  border-radius: 5vw;
}

.title {
  margin: 2vw;
  border-radius: 10vw;
  box-shadow: inset 1vw 1vw 3vw #080808, inset -1vw -1vw 3vw #282828;
  background: #141414;
  display: flex;
  align-items: center;
  width: 94vw;
  height: 42vw;
}

.title p {
  width: 50vw;
  padding: 5vw;
  margin-left: 2vw;
  text-align: right;
  font-size: 5vw;
}

.title .logo {
  width: 30vw;
  height: 30vw;
  border-radius: 10vw;
  box-shadow: 1vw 1vw 3vw #080808, -1vw -1vw 3vw #282828;
  background: #181818;
  padding: 2vw;
  margin: 4vw 4vw;
  margin-left: auto;
}

.intro {
  box-shadow: 1vw 1vw 3vw #080808, -1vw -1vw 3vw #282828;
  background: #1c1c1c;
  border-radius: 10vw;
  display: grid;
  grid: auto / auto auto;
  grid-gap: 0vw;
  margin: 4vw;
}

.subsandviews {
  display: grid;
  padding: 7vw;
  margin: auto;
}

.counters {
  font-size: 5vw;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.subtitles {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 2vw;
}

.introparagraph {
  margin-left: auto;
  padding: 5vw;
  text-indent: 5vw;
  font-size: 2vw;
}

.container {
  width: 90vw;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 3vw #080808, -1vw -1vw 3vw #282828;
  background: #1c1c1c;
}

.item {
  display: inline;
  align-items: center;
  object-fit: contain;
  height: 45vw;
}

.carouselshowcase {
  flex: 0 0 5vw;
  margin: 1vw;
  height: 43vw;
  width: 88vw;
  border-radius: 5vw;
}

.links {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

.links a {
  border-radius: 10vw;
  display: inline-flex;
  padding: 1vw 3vw;
  background: #282828;
  margin: 0 2vw;
}





@media only screen and (min-width: 900px) {
  header .logo {
    height: 4vw;
    border-radius: 1vw;
  }

  .li {
    display: inline-block;
    padding: 0vw 1vw;
  }

  .nav__links li a {
    font-size: 2vw;
  }

  .cta {
    font-size: 2vw;
  }

  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .parallax {
    background-image: url("https://raw.githubusercontent.com/LightslicerGP/LightslicerGP/master/Pictures/Rubick's%20Cube%20Background.png");
    height: 20vw;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50vw;
    border-radius: 7vw;
    border: 0px solid #181818;
    padding-top: 5vw;
    width: 40vw;
  }

  .parallax p {
    display: inline-block;
    font-size: 7vw;
    color: black;
    background: cyan;
    margin: 5vw;
    border-radius: 3vw;
    padding: 1vw;
  }
}