body {
  font-family: 'Montserrat', sans-serif;
  background: #181818;
  color: white;
}

.parallax {
  background-image: url("https://drive.google.com/uc?export=view&id=1wAN0fR0Ck0rUL3QeHzoQ6v4Ipp_6QkSe");
  min-height: 40vw;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
	border-radius: 10vw;
	border: 1px solid #181818;
}
.parallax p{
  display: flex;
	justify-content: center;
  font-size: 10vw;
  color: black;
	background: cyan;
	margin: 14vw;
	border-radius: 5vw;
}
.title {
  margin: 2vw;
  border-radius: 10vw;
  box-shadow: inset 1vw 1vw 3vw #080808, inset -1vw -1vw 3vw #282828;
  background: #141414;
  display: flex;
  align-items: center;
  width: 94vw;
  height: 42vw;
}

.title p {
  width: 50vw;
  padding: 5vw;
  margin-left: 2vw;
  text-align: right;
  font-size: 5vw;
}

.logo {
  width: 30vw;
  height: 30vw;
  border-radius: 10vw;
  box-shadow: 1vw 1vw 3vw #080808, -1vw -1vw 3vw #282828;
  background: #181818;
  padding: 2vw;
  margin: 4vw 4vw;
  margin-left: auto;
}

.intro {
  box-shadow: 1vw 1vw 3vw #080808, -1vw -1vw 3vw #282828;
  background: #1c1c1c;
  border-radius: 10vw;
  display: grid;
  grid: auto / auto auto;
  grid-gap: 2vw;
  margin: 4vw;
}

.subsandviews {
  display: grid;
  padding: 7vw;
  margin: auto;
}

.counters {
  font-size: 5vw;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.subtitles {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 2vw;
}

.introparagraph {
  margin-left: auto;
  padding: 5vw;
  text-indent: 5vw;
  font-size: 2vw;
}

.container {
  width: auto;
  margin: 4vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 3vw #080808, -1vw -1vw 3vw #282828;
  background: #1c1c1c;
}

.item {
  display: inline;
  align-items: center;
  object-fit: contain;
}

.carouselshowcase {
  flex: 0 0 5vw;
  margin: 1vw;
  height: auto;
  width: 85vw;
  border-radius: 5vw;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.links a {
  border-radius: 10vw;
  display: inline-flex;
  padding: 1vw 3vw;
  background: #282828;
  margin: 0 2vw;
}