:root {
  --main-color: #181818;
  --secondary-color: #ffffff;
  --shadow: #080808;
  --light: #282828;
  --text: #ffffff;
}

body {
  background-color: #181818;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vw;
}

#youtube {
  padding: 2vw;
  box-shadow: 1vw 1vw 2vw var(--shadow), -1vw -1vw 2vw var(--light);
  border-radius: 3vw;
}

#youtubetitle {
  margin: 0vw 0vw 1vw 0vw;
}

#youtubethumbnail {
  width: 48vw;
  height: 27vw;
  object-fit: cover;
}